{% load static %}
<!DOCTYPE html><!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Thu Jun 15 2017 07:35:06 GMT+0000 (UTC) -->
<html data-wf-domain="doctoria-theme.webflow.io"
      data-wf-page="58d15e8dc8699c5a260084c8"
      data-wf-site="58d15e8dc8699c5a260084d8">
<head>
    <meta charset="utf-8">
    <title>Innova</title>
    <meta content="doctoria is a innovative and flexible website template for doctory, companies and small businesses. Clean and minimalistic, doctoria is 100% customizable and created with much love."
          name="description">
    <meta content="doctoria Webflow Template" property="og:title">
    <meta content="doctoria is a innovative and flexible website template for doctory, companies and small businesses. Clean and minimalistic, doctoria is 100% customizable and created with much love."
          property="og:description">
    <meta content="summary" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webflow" name="generator">
    <link href="{% static 'css/iniciocss.css' %}"
          rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          rel="stylesheet" type="text/css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    


    <script type="text/javascript">WebFont.load({
        google: {
            families: ["Roboto:100,300,regular,500,700"]
        }
    });</script>

    <link href="{% static 'images/favicon-16x16.png' %}"
          rel="shortcut icon" type="image/x-icon">
    <link href="https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a260084d8/59209d99d078c554604316bd_Avatar.png"
          rel="apple-touch-icon">
    </script>
</head>

<body>
<div class="page-loader" data-ix="body-load-page-loader"></div>
<div class="page-wrapper" data-ix="body-load">
    <div class="header" data-ix="to-top-anchor" id="header">
        <div class="meta">
            <div class="container w-clearfix w-hidden-tiny">
                <ul class="meta-list w-list-unstyled">
                    <li class="meta-list-item">
                        <div>Semillero Innova</div>
                    </li>
                </ul>
                <ul class="meta-list right w-hidden-medium w-hidden-small w-hidden-tiny w-list-unstyled">
                    <li class="meta-list-item">
                        <div>Telefóno: ( +57 5 ) 6628812</div>
                    </li>
                    <li class="meta-list-item">
                    </li>
                    <li class="meta-list-item"><a>cartagena@unad.edu.co</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar w-nav" data-animation="over-right"
             data-collapse="medium" data-duration="400" data-no-scroll="1">
            <div class="container full-width w-clearfix"><a
                    class="logo w-clearfix w-nav-brand" href="/">
                <img class="logo-bildmarke" height="46"
                    src="{% static 'images/innovapp.jpeg' %}">
                <div class="logo-titel">Innova</div>
            </a>
                <nav class="navbar-menu w-clearfix w-nav-menu"
                     role="navigation">
                    <a class="navbar-link w-nav-link" href="/">Inicio</a>
                    <a class="navbar-link w-nav-link" href="/nosotros/">Nosotros</a>
                    <!--<a class="navbar-link w-nav-link" href="/galeria">Galería</a>-->
                    <a class="navbar-link w-nav-link" href="/eventos">Eventos</a>
                    <a class="navbar-link w-nav-link" href="/proyectos">Proyectos</a>
                    <a class="button button-color button-navbar w-button" href="/contacto">Contacto</a></nav>
                <div class="menu-button w-nav-button">
                    <div class="w-icon-nav-menu"></div>
                </div>
            </div>
        </div>
        <a class="to-top-anchor w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block"
           href="#header">
            <div></div>
        </a></div>