 <div class="footer-wrapper">
     <style>
         a.w-webflow-badge {
	display: none !important;
}
     </style>
        <div class="container">
            <div class="content-row w-row">
                <div class="w-col w-col-3"><h3
                        class="footer-column-headline logo-footer">
                    Innova</h3>
                    <div class="text-muted">Grupo de investigación Byte in Design
                            Escuela de Ciencias Básicas tecnología e ingeniería
                            Si lo puedes soñar, lo puedes lograr. W.D.&nbsp;<br><br>Copyright © Innova<br>Template
                        design by
                    </div>
                </div>
                <div class="w-col w-col-2 w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                <div class="w-col w-col-4"><h4 class="footer-column-headline">
                    Mapa del Sitio</h4>
                    <ul class="link-list-wrapper w-list-unstyled">
                        <li><a class="link-list-item" href="/">Inicio</a></li>
                        <li><a class="link-list-item"
                               href="/nosotros">Nosotros</a>
                        </li>
                        <li><a class="link-list-item" href="/Galeria">Galeria</a>
                        </li>
                        <li><a class="link-list-item"
                               href="/eventos">Eventos</a></li>
                        <li><a class="link-list-item" href="/proyectos">Proyectos</a>
                        </li>
                        <li><a class="link-list-item"
                               href="/contacto">Contacto</a></li>
                        <li><a class="link-list-item"
                               href="/elements/licensing">Licenses</a></li>
                        <li><a class="link-list-item" href="/404">404</a></li>
                        <li><a class="link-list-item"
                               href="/elements/styleguide">Styleguide</a></li>
                        <li><a class="link-list-item" href="/401">Password</a>
                        </li>
                    </ul>
                </div>
                <div class="w-col w-col-3"><h4 class="footer-column-headline">
                    Contactenos</h4>
                    <div class="footer-contact text-muted">Phone: 123
                        210-5225<br>Fax: 123 210-5225<br><a href="#">cartagena@unad.edu.co</a>
                    </div>
                    <ul class="footer-social-media-wrapper w-list-unstyled">
                        <li class="footer-social-media-iteam-wrapper"><a
                                class="facebook footer-social-media-item w-inline-block"
                                href="#"></a></li>
                        <li class="footer-social-media-iteam-wrapper"><a
                                class="footer-social-media-item twitter w-inline-block w-preserve-3d"
                                href="#"></a></li>
                        <li class="footer-social-media-iteam-wrapper"><a
                                class="footer-social-media-item google w-inline-block"
                                href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
        type="text/javascript"></script>
<script src="https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a260084d8/js/webflow.656a80bdc.js"
        type="text/javascript"></script>
<!--[if lte IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
<![endif]-->
</body>
</html>