{% extends 'base/base_publico.html' %}

{% block contenido_pagina %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <div class="container">
        <h2>Galería</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static "images/img (98).jpg" %}" alt="My image" style="width:100%;">
                    </div>

                <div class="item">
                    <img src="{% static "images/img (115).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (117).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (118).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (123).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (128).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (131).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (132).jpg" %}" alt="My image" style="width:100%;">
                </div>

                <div class="item">
                    <img src="{% static "images/img (133).jpg" %}" alt="My image" style="width:100%;">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endblock %}