{% extends 'base/base_publico.html' %}

{% block contenido_pagina %}
    {% load static %}
    <div class="_1 feature">
        <div class="feature-image-container slideshow w-slider"
             data-animation="fade" data-autoplay="1" data-autoplay-limit="2000"
             data-delay="10000" data-duration="800" data-hide-arrows="1"
             data-infinite="1" data-ix="feature-image-fade-in">
            <div class="feature-award" data-ix="award-load"><a
                    class="w-inline-block" href="#"></a>
            </div>
            <div class="slideshow-mask w-slider-mask">
                <div class="_2 feature-slideshow-item w-slide"></div>
                <div class="_1 feature-slideshow-item w-slide"></div>
            </div>
        </div>
        <div class="container feature-title">
            <div class="feature-content-wrapper"
                 data-ix="feature-content-fade-in"><h1
                    class="feature-headline">Semillero Innova</h1>
                <div class="p-large text-muted w-hidden-tiny">Grupo de investigación Byte in Design
                    <br>Escuela de Ciencias Básicas tecnología e ingeniería
                    <br>Si lo puedes soñar, lo puedes lograr. W.D.
                </div>
                <a class="feature-phone-number-wrapper w-clearfix w-inline-block"
                   href="tel:012345678">
                    <div class="feature-phone-number-icon"></div>
                    <div class="feature-phone-number">( +57 5 ) 6628812</div>
                </a></div>
            <a class="feature-anchor w-hidden-medium w-hidden-small w-hidden-tiny w-inline-block"
               data-ix="ancho-load" href="#content-start">
                <div></div>
            </a></div>
    </div>
    <div class="b-b informations section">
        <div class="container">
            <div class="iconbox-row w-row">
                <div class="w-col w-col-4 w-col-stack">
                    <div class="iconbox-container">
                        <div class="iconbox-headline">
                            <div class="iconbox-icon">
                                <div class="iconbox-icon-text">Q</div>
                            </div>
                            <h3 class="iconbox-text-headline">Contáctanos</h3>
                        </div>
                        <div class="iconbox-text"><p
                                class="iconbox-text-paragraph">
                                Transversal 45 # 44A - 221
                                <br>Avenida al Acueducto -
                                Barrio Paraguay<br>Cartagena - Colombia</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="iconbox-container">
                        <div class="iconbox-headline">
                            <div class="iconbox-icon">
                                <div class="iconbox-icon-text">f</div>
                            </div>
                            <h3 class="iconbox-text-headline">Comunidad
                                </h3></div>
                        <div class="iconbox-text"><p
                                class="iconbox-text-paragraph">Docente Arellys Correa Rodríguez</p></div>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="iconbox-container last">
                        <div class="iconbox-headline">
                            <div class="iconbox-icon">
                                <div class="iconbox-icon-text">x</div>
                            </div>
                            <h3 class="iconbox-text-headline">Horas de
                                reunión</h3></div>
                        <div class="iconbox-text">
                            <div class="first opening-hours-line w-clearfix">
                                <div class="opening-hours-left">Lunes -
                                    viernes
                                </div>
                                <div class="opening-hours-right">17:00 - 18:00
                                </div>
                            </div>
                            <div class="opening-hours-line w-clearfix">
                                <div class="opening-hours-left">Sabado</div>
                                <div class="opening-hours-right">10:00 - 12:00
                                </div>
                            </div>
                            <div class="opening-hours-line w-clearfix">
                                <div class="opening-hours-left">Domingo</div>
                                <div class="closed opening-hours-right">
                                    Descanso
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" data-ix="fade-in-bottom-scroll" id="content-start">
        <div class="container">
            <div class="content-row w-row">
                <div class="w-col w-col-7 w-col-stack"><h2
                        class="headline-section">MISIÓN</h2>
                    <div class="w-richtext"><h4>Desarrollar una cultura investigativa en los estudiantes
                         de la escuela de ciencias básicas tecnología e ingeniería de la UNAD a través del
                          aprendizaje cooperativo, donde se surcan ideas que serán cristalizarlas en proyectos
                           de tipo ingenieril haciendo uso de las Tecnologías de Información (TI), los cuales
                            darán solución a las necesidades de las comunidades, locales y nacionales mejorando
                             así su calidad de vida.</h4>
                        </div>
                </div>
                <div class="w-col w-col-1 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="color teaser-wrapper">
                        <div class="_1 teaser-image-wrapper"></div>
                        <div class="color teaser-content-wrapper">
                            <div class="teaser-phone-number"><h4
                                    class="color teaser-headline">Bienvenidos</h4>
                            </div>
                            <div class="teaser-subline">Presentamos la pagina oficial del Semilleno de investigacion de la Unad
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey no-padding section section-line"
         data-ix="fade-in-bottom-scroll">
        <div class="section-image-text-wrapper">
            <div class="container w-container">
                <div class="w-row">
                    <div class="w-col w-col-6 w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                    <div class="w-col w-col-6">
                        <div class="section-image-text-text"><h2
                                class="headline-section">VISIÓN</h2>
                            <div class="w-richtext"><h4>El semillero Innova se 
                                proyecta para el año 2022 como un equipo consolidado y 
                                reconocido en la zona caribe por su formación investigativa y 
                                desarrollo de soluciones de TI con carácter innovador, orientadas a 
                                solucionar y mejorar la realidad de las distintas comunidades, 
                                afianzando en la construcción de una cultura reflexiva, critica en 
                                cada uno de sus integrantes.</h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_1 section-image-text-image"></div>
        </div>
    </div>
    <div class="no-padding section section-line"
         data-ix="fade-in-bottom-scroll">
        <div class="section-image-text-wrapper">
            <div class="container w-container">
                <div class="w-row">
                    <div class="w-col w-col-6 w-col-stack">
                        <div class="section-image-text-text"><h2
                                class="headline-section">OBJETIVOS</h2>
                            <div class="w-richtext"><p>Diseñar e implementar una plataforma 
                                web que permira optimizar
                                 el proceso de inscripcion 
                                 de proyectos como opcion 
                                 de grado en la UNAD.</p></div>
                        </div>
                    </div>
                    <div class="w-col w-col-6 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                </div>
            </div>
            <div class="_2 right section-image-text-image">
                <div class="section-image-quote">
                    <div>PRUEBA
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-grey section" data-ix="fade-in-bottom-scroll">
        <div class="container">
            <div class="section-headline-wrapper"><h3
                    class="bg-grey section-headline">Our News</h3>
                <div class="section-headline-line w-hidden-tiny"></div>
            </div>
            <div class="w-dyn-list">
                <div class="news-teaser-wrapper w-clearfix w-dyn-items w-row">
                    <div class="news-teaser-list-wrapper w-col w-col-4 w-dyn-item">
                        <div class="news-teaser-item"><a
                                class="teaser-wrapper w-inline-block"
                                href="/news/patients-and-doctors">
                            <div class="teaser-image-wrapper"
                                 style="background-image: url('https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a2600850c/5940d18a513bb845f4a5780f_5920986c4508be703c03e0e7_Teaser-01.jpg');"></div>
                            <div class="teaser-content-wrapper"><h3
                                    class="teaser-headline">Patients and
                                doctors</h3>
                                <div class="news-teaser-information-wrapper w-clearfix">
                                    <div class="news-teaser-information-item">
                                        June 14, 2017
                                    </div>
                                    <div class="news-teaser-information-item">
                                        in
                                    </div>
                                    <div class="news-teaser-information-item">
                                        Dental
                                    </div>
                                </div>
                                <div class="teaser-subline">Maecenas etos sit
                                    amet consectetur adipiscing elit ornare
                                    terminal.
                                </div>
                            </div>
                        </a></div>
                    </div>
                    <div class="news-teaser-list-wrapper w-col w-col-4 w-dyn-item">
                        <div class="news-teaser-item"><a
                                class="teaser-wrapper w-inline-block"
                                href="/news/many-doctors-use-wrong">
                            <div class="teaser-image-wrapper"
                                 style="background-image: url('https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a2600850c/5940d19e513bb845f4a57812_592098e5da22314ee96b4399_Teaser-08.jpg');"></div>
                            <div class="teaser-content-wrapper"><h3
                                    class="teaser-headline">Doctoria
                                Party!</h3>
                                <div class="news-teaser-information-wrapper w-clearfix">
                                    <div class="news-teaser-information-item">
                                        June 14, 2017
                                    </div>
                                    <div class="news-teaser-information-item">
                                        in
                                    </div>
                                    <div class="news-teaser-information-item">
                                        Health
                                    </div>
                                </div>
                                <div class="teaser-subline">Maecenas etos sit
                                    amet consectetur adipiscing elit ornare
                                    terminal.
                                </div>
                            </div>
                        </a></div>
                    </div>
                    <div class="news-teaser-list-wrapper w-col w-col-4 w-dyn-item">
                        <div class="news-teaser-item"><a
                                class="teaser-wrapper w-inline-block"
                                href="/news/many-doctors-use-wrong-test-to-diagnose-kids-food-allergies">
                            <div class="teaser-image-wrapper"
                                 style="background-image: url('https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a2600850c/5940d1b46929e84880c487dd_5920983116b99b0139ddb41e_Teaser-06.jpg');"></div>
                            <div class="teaser-content-wrapper"><h3
                                    class="teaser-headline">Kids food
                                allergies</h3>
                                <div class="news-teaser-information-wrapper w-clearfix">
                                    <div class="news-teaser-information-item">
                                        June 14, 2017
                                    </div>
                                    <div class="news-teaser-information-item">
                                        in
                                    </div>
                                    <div class="news-teaser-information-item">
                                        Office
                                    </div>
                                </div>
                                <div class="teaser-subline">Maecenas etos sit
                                    amet consectetur adipiscing elit ornare
                                    terminal.
                                </div>
                            </div>
                        </a></div>
                    </div>
                </div>
            </div>
            <div class="button-more-wrapper"><a
                    class="button button-color w-button" href="/news">View all
                News</a></div>
        </div>
    </div>
    <div class="no-padding section">
        <div class="section-gallery-wrapper" data-ix="fade-in-scroll"><a
                class="section-gallery-item w-inline-block w-lightbox"
                data-ix="gallery-item-hover" href="#">
            <div class="section-gallery-slide-box"></div>
            <div class="section-gallery-item-hover-wrapper">
                <div class="section-gallery-item-hover-icon">+</div>
            </div>
            <img class="section-gallery-image" sizes="34vw"
                 src="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d01f5cd932488f52a561_Slideshow-05.jpg"
                 srcset="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d01f5cd932488f52a561_Slideshow-05-p-500.jpeg 500w, http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d01f5cd932488f52a561_Slideshow-05.jpg 1200w">
            <script class="w-json" type="application/json">{
                "group": "Gallery-Home",
                "items": [
                    {
                        "type": "image",
                        "_id": "5940d01f5cd932488f52a561",
                        "fileName": "Slideshow-05.jpg",
                        "origFileName": "Slideshow-05.jpg",
                        "width": 1200,
                        "height": 870,
                        "fileSize": 292666,
                        "url": "https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a260084d8/5940d01f5cd932488f52a561_Slideshow-05.jpg"
                    }
                ]
            }</script>
        </a><a class="section-gallery-item w-inline-block w-lightbox"
               data-ix="gallery-item-hover" href="#">
            <div class="section-gallery-slide-box"></div>
            <div class="section-gallery-item-hover-wrapper">
                <div class="section-gallery-item-hover-icon">+</div>
            </div>
            <img class="section-gallery-image" sizes="34vw"
                 src="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d032c6a57f3812db4502_Slideshow-03.jpg"
                 srcset="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d032c6a57f3812db4502_Slideshow-03-p-1080.jpeg 1080w, http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d032c6a57f3812db4502_Slideshow-03.jpg 1200w">
            <script class="w-json" type="application/json">{
                "group": "Gallery-Home",
                "items": [
                    {
                        "type": "image",
                        "_id": "5940d032c6a57f3812db4502",
                        "fileName": "Slideshow-03.jpg",
                        "origFileName": "Slideshow-03.jpg",
                        "width": 1200,
                        "height": 870,
                        "fileSize": 219650,
                        "url": "https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a260084d8/5940d032c6a57f3812db4502_Slideshow-03.jpg"
                    }
                ]
            }</script>
        </a><a class="section-gallery-item w-inline-block w-lightbox"
               data-ix="gallery-item-hover" href="#">
            <div class="section-gallery-slide-box"></div>
            <div class="section-gallery-item-hover-wrapper">
                <div class="section-gallery-item-hover-icon">+</div>
            </div>
            <img class="section-gallery-image" sizes="37vw"
                 src="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d03cb0543a2a078da4fc_Teaser-05.jpg"
                 srcset="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d03cb0543a2a078da4fc_Teaser-05-p-800.jpeg 800w, http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d03cb0543a2a078da4fc_Teaser-05-p-1080.jpeg 1080w, http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d03cb0543a2a078da4fc_Teaser-05.jpg 1200w">
            <script class="w-json" type="application/json">{
                "group": "Gallery-Home",
                "items": [
                    {
                        "type": "image",
                        "_id": "5940d03cb0543a2a078da4fc",
                        "fileName": "5940d03cb0543a2a078da4fc_Teaser-05.jpg",
                        "origFileName": "Teaser-05.jpg",
                        "width": 1200,
                        "height": 801,
                        "fileSize": 167195,
                        "url": "https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a260084d8/5940d03cb0543a2a078da4fc_Teaser-05.jpg"
                    }
                ]
            }</script>
        </a><a class="section-gallery-item w-inline-block w-lightbox"
               data-ix="gallery-item-hover" href="#">
            <div class="section-gallery-slide-box"></div>
            <div class="section-gallery-item-hover-wrapper">
                <div class="section-gallery-item-hover-icon">+</div>
            </div>
            <img class="section-gallery-image" sizes="38vw"
                 src="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d043597aab4604e0195b_Teaser-04.jpg"
                 srcset="http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d043597aab4604e0195b_Teaser-04-p-500.jpeg 500w, http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d043597aab4604e0195b_Teaser-04-p-1080.jpeg 1080w, http://uploads.webflow.com/58d15e8dc8699c5a260084d8/5940d043597aab4604e0195b_Teaser-04.jpg 1200w">
            <script class="w-json" type="application/json">{
                "group": "Gallery-Home",
                "items": [
                    {
                        "type": "image",
                        "_id": "5940d043597aab4604e0195b",
                        "fileName": "Teaser-04.jpg",
                        "origFileName": "Teaser-04.jpg",
                        "width": 1200,
                        "height": 789,
                        "fileSize": 163296,
                        "url": "https://daks2k3a4ib2z.cloudfront.net/58d15e8dc8699c5a260084d8/5940d043597aab4604e0195b_Teaser-04.jpg"
                    }
                ]
            }</script>
        </a></div>
    </div>
    <div class="bg-color section" id="appointnent">
        <div class="container">
            <div class="w-row" data-ix="fade-in-scroll">
                <div class="w-col w-col-3 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
                <div class="w-col w-col-6 w-col-stack">
                    <div class="section-color-text-spacer"><h2
                            class="text-center text-white">Contáctenos</h2>
                        <p class="p-large text-center text-muted text-white">
                            Nos necesitas para algun tipo de ayuda o trabajo no dudes en contar con nosotros</p>
                        <div class="button-more-wrapper"><a
                                class="button w-button" href="#">Contacto</a>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny"></div>
            </div>
        </div>
    </div>
{% endblock %}