{% extends 'base/base_publico.html' %}
{% load static %}
{% block contenido_pagina %}
    

    <link href="/static/css/perfilesstyle.css"
      rel="stylesheet" type="text/css">
    <link href="/static/css/perfilesstyle2.css"
      rel="stylesheet" type="text/css">

     <!-- Team -->
     <section id="team" class="pb-5">
        <div class="container">
            <div class="row">

            {% for perfiles in lista_integrantes %}    
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class=" img-fluid" src="{%  static  'media/'  %}{{ perfiles.foto }}"
                                                alt="card image">
                                        </p>
                                        
                                        <h4 class="card-title">{{perfiles.get_full_name}}</h4>
                                        <h6 class="card-text">{{perfiles.programa}}</h6>
                                        <h6 class="card-text">{{perfiles.centro}}</h6>

                                        <a href="#" class="btn btn-primary btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">{{perfiles.get_full_name}}</h4>
                                        <p class="card-text">En esta parte el usurio describe su perfil como quiera.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-skype"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                                
                           
               
                <!-- ./Team member -->
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- Team -->









{% endblock %}