{% extends 'base/base_publico.html' %}
{% load static %}
{% block contenido_pagina %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.5.min.css">


 
    <div class="container">
        <h1 class="text-center my-5 text-dark">Listado de Proyectos</h1>
        <div class="card-columns">

            {% for proyec in lista_proyectos %}

                <div class="card mb-5">
                    <img class="card-img-top" src="{%  static  'media/'  %}{{proyec.foto}}"
                         alt="Card image cap">
                    <div class="card-body">
                            
                        <h2 class="card-title text-capitalize"> {{ proyec.nombre | lower }} </h2>

                        {% for integrante in proyec.integrantes.all %}
                            <span class="badge badge-primary text-capitalize" style="font-size: 1.5rem">
                                {{ integrante | lower }}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <span style="font-size: 1.5rem">
                            <strong>Fecha: </strong>{{ proyec.fecha_creacion }}
                        </span>
                    </div>
                </div>
            {% endfor %}

        </div>

{% endblock %}